.listings {
	// border: 10px solid green;

	.grid-container {
		border: 10px solid purple;
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	.grid-item {
		border: 1px solid blue;
	}
}
.listing {
	position: relative;

	max-width: 19rem;

	.slides {
		display: flex;
	}
	.img {
		padding: 0.5rem;
		min-width: 18rem;
		max-height: 15rem;
	}
	.arrow {
		display: inline-block;
		width: 24px;
		position: absolute;
		top: 50%;
		z-index: 100;
	}
	.arrow-right {
		right: 0;
	}
}
